{
  "presets": [
    ["@babel/preset-env",
      {
        "targets": "last 2 Chrome major versions, last 2 ChromeAndroid major versions, last 2 Firefox major versions, last 2 Edge major versions, last 3 Safari major versions, last 2 iOS major versions",
        "useBuiltIns": false,
        "modules": false
      }
    ]
  ]
}